*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color : #436850;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #283739;
    background-image: linear-gradient(75deg,#AAD7D9,#4d869c);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* btn */
.btn {
    background-color: transparent;
    border: 2px solid transparent;
    outline: none;
    border-radius: 8px;
    z-index: 20;
    text-align: center;
}
.submit {
    background-color: var(--main-color);
    padding: 6px 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.submit:hover {
    background: #436850dc;
}
.outline {
    border: 1px solid rgba(0, 0, 0, 0.19);
    margin: 8px 10px;
    padding: 4px;
    cursor: pointer;
}

/* .outline:hover{
    background-color: #eef7ffd8;
} */


.large {
    width: 200px;
}
.medium {
    width: 100px;
}
.small {
    width: 40px;
}

.active {
    border: 1.5px solid rgba(0, 0, 0) ;
}

.selected {
    background-color: var(--main-color);
    border: 1px solid whitesmoke;
    color: white;
}


/* Wrapper */
.quiz-wrapper{
    width: 50rem;
    height: 24rem;
    background-color: #eef7ffe1;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.15);
    padding: 15px;
}

/* header */
.quiz-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* height: 40px; */
}
.quiz-timer{
    display: flex;
    align-items: center;
}

.icon-clock{
    width: 25px;
    height: 25px;
    margin-right: 4px;
}
.icon-clock svg {
    width: 100%;
}
.title {
    font-size: 0.8rem;
    font-weight: 500
}

/* content */
.container-quiz-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.div-answer{
    width: 440px;
    display: flex;
    flex-wrap: wrap;
}

.question-text {
    max-width: 550px;
    min-height: 80px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.1rem;
}


/* progess circle */
.quiz-complete{
    width: 200px;
    position: relative;
}
.quiz-complete svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
}
.quiz-complete svg circle {
    transform: translate(50%,50%);
    fill: none;
    stroke: #DDD;
    stroke-width: 10px;
}

#progess {
    stroke: var(--main-color);
    stroke-dasharray: 157 999999;
    stroke-linecap: round;
    transition: 0.2s;
}

.progess-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer-quiz{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quiz-lists{
    display: flex;
}
.incorrect{
    background-color: #FF6B6B;
    color: #283739;
}